<div class="col-md-offset-2 mb-4 edit-profile-wrapper">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="profile-form-wrap">
        <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>
          <div class="form-group">
            <% if current_user.profile_photo.present? %>
              <%= f.label :profile_photo, "プロフィール画像の 変更 or 削除" %><br>
              <%= f.file_field :profile_photo %>
              <%= f.check_box :remove_profile_photo%>
              <%= f.label :remove_profile_photo, "プロフィール画像の削除" %>
            <% else %>
              <%= f.label :profile_photo, "プロフィール画像の設定" %><br>
              <%= f.file_field :profile_photo %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :name, "あなたの名前" %>
            <%= f.text_field :name, autofocus: true, class: "form-control", required: true, maxlength: 20 %>
          </div>
          <div class="form-group">
            <%= f.label :username, "ニックネーム" %>
            <%= f.text_field :username, autofocus: true, class: "form-control", required: true, maxlength: 20 %>
          </div>
          <div class="form-group">
            <%= f.label :message, "メッセージ"%>
            <%= f.text_area :message, autofocus: true, class: "form-control", placeholder: "DTM connect OKINAWAへメッセージをお願いします！！(最大200字)", maxlength: 200 %>
          </div>
          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "新しいパスワード" %>
            <%= f.password_field :password, autofocus: "off", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "新しいパスワードの確認" %>
            <%= f.password_field :password_confirmation, autofocus: "off", class: "form-control" %>
          </div>
          <%= f.submit "変更する", class: "btn btn-info" %>
          <%= link_to "戻る", user_path(current_user), class: "btn btn-secondary" %>
        </div>
        <div class="delete-button">
          <%= link_to "アカウントを削除する",user_path(current_user.id), class: "btn btn-danger", method: :delete, "data-confirm" => "アプリ内の情報は完全に消去されます。本当にアカウントを削除しますか？" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
