<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "DTM connect Okinawa", root_path, class: "navbar__mainLogo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">
        <li>
          <%= link_to "DcOとは？", introductions_path%>
        </li>
        <li>
          <%= link_to "メンバー", "#"%>
        </li>
        <li>
          <%= link_to "作品一覧", movies_path%>
        </li>
        <li>
          <%= link_to "イベント", "#"%>
        </li>
        <li>
          <%= link_to "お問い合わせ", "#"%>
        </li>
      </ul>
      <ul class="navbar-nav ml-md-auto align-items-right">
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username%>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to edit_user_registration_path, class: "dropdown-item" do%>
              <i class="fas fa-edit"></i>
              <span class="mr-1">プロフィールを編集</span>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'サインアウトしますか？'}, class: "dropdown-item" do%>
              <i class="fas fa-door-open"></i>
              <span class="mr-1">サインアウト</span>
            <% end %>
          </div>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
            <%=image_tag current_user.profile_photo.url, class: "nav-link post-profile-icon" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
