<div>
  <%= form.label :name %>
  <%= form.text_field :contact_name, readonly: true %>
  <%= form.hidden_field :contact_name %>
</div>
<div>
  <%= form.label :email %>
  <%= form.text_field :contact_email, readonly: true %>
  <%= form.hidden_field :contact_email %>
</div>
<div>
  <%= form.label :content %>
  <%= form.text_area :content, readonly: true %>
  <%= form.hidden_field :content %>
</div>
