<div class="main">
  <div class="card devise-card ">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="mx-auto">DTM connect OKINAWA</h2>
        <p class="text-secondary">沖縄に特化したDTMコミュニティ。<br>沖縄で活動するアーティストや沖縄にゆかりのある方,
        <br>ご参加お待ちしております。<br>DAW/プラグインのトラブル、ライヴ活用方法<br>イベントからお仕事のご依頼、音源の宣伝などご活用下さい！<br>敬意のあるコミュニケーションをお願いします。<br>初心者や今から音楽を始めたい方、<br>お仕事でスタジオ経営しているプロまで幅広く歓迎致します!!</p>
      </div>
      <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "サインイン", class: "btn btn-info w-100" %>
        </div>
        <div class="actions">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "btn btn-warning w-100" %>
        </div>
        <div class="actions">
          <%= link_to "Facebookアカウントでサインイン", user_facebook_omniauth_authorize_path, method: :post, class: "btn btn-primary w-100"%>
        </div>
      <% end %>
      <br>
      <p class="devise-link">
        アカウントをお持ちでないですか？
        <%= link_to "新規登録する", new_user_registration_path %>
      </p>
    </div>
  </div>
</div>
